@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

#title {
    font-family: 'Lobster', cursive;
    color: #ffee02;
    font-size: 50pt;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: orange;
}

body {
    background-color: rgb(39, 39, 39);
}

.current-num {
    color: white;
    font-size: 120px;

    @include for-phone-only {
        font-size: 70px;
        margin: auto;
        position: relative;
        right: 20px;
    }
}

#daniPunches {
    text-align: left;
    @include for-phone-only {
        position: relative;
        right: 50px;
    }
}

#willPunches {
    text-align: right;
    @include for-phone-only {
        position: relative;
        left: 21px;
    }
}

#confirm-button {
    padding-top: 5px;
}

#punch-image {
    border-style: solid;
    border-width: 1px;
    border-color: yellow;
    height: 30px;
    width: 30px;

    @include for-phone-only {
        display: none;
    }
}

.punch-holder {
    max-width: 180px;
}

.person-button-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
    @include for-big-desktop-up {
        font-size: 50px;
    }
    @include for-phone-only {
        font-size: 15px;
    }
}

.person-button {
    min-width: 50px;
    height: 200px;

    @include for-phone-only {
        width: 200%
    }
}

  